{% extends 'header.html' %}
{% block title %} Информация{% endblock %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'style/informations.css' %}">
{% endblock %}
{% block content %}
<div class="informations-block">
    <div class="title">
        <span>Полезная информация</span>
    </div>
    <div class="informations-text">
        <span>Раздел предназначен для предоставления полезных 
            статей и рекомендаций, которые помогут вам лучше 
            понять и эффективно использовать наши услуги. 
            Здесь вы найдете статьи на темы, связанные с отоплением, 
            водоснабжением, вентиляцией и другими аспектами, 
            которые могут быть полезны для вашего дома или бизнеса.
        </span>
    </div>
    <div class="informations-section">
        <div class="informations-section-text">
            <span><strong>Как выбрать идеальную систему отопления для вашего дома</strong>
                <p>В этой статье вы найдете подробное руководство по выбору системы 
                    отопления, которая наилучшим образом подходит для вашего дома. 
                    Мы рассмотрим различные типы систем, включая газовые, дизельные 
                    и твердотопливные котлы, а также теплые полы. Будут описаны ключевые 
                    факторы, которые необходимо учитывать при выборе, такие как размер 
                    помещения, доступные источники энергии и ваши индивидуальные потребности. 
                    Эти рекомендации помогут вам сделать обоснованный выбор и обеспечить 
                    максимальный комфорт в вашем доме.</p>
            </span>
        </div>
        <a href="/informations/how_to_choose_the_perfect_heating_system" class="button">
            <span class="text">Перейти</span>
        </a>
    </div>
    <div class="informations-section">
        <div class="informations-section-text">
            <span><strong>Важность регулярного обслуживания систем водоснабжения</strong>
                <p>Регулярное обслуживание систем водоснабжения критически важно для их 
                    долговечности и надежной работы. В этой статье мы объясним, почему 
                    профилактическое обслуживание помогает предотвратить утечки, засоры 
                    и другие проблемы, которые могут возникнуть с водопроводными системами. 
                    Также будут даны советы по мерам предосторожности и проверкам, которые 
                    помогут поддерживать систему в идеальном состоянии и избегать 
                    непредвиденных затрат на ремонт.</p>
            </span>
        </div>
        <a href="/informations/the_importance_of_regular_maintenance_of_water" class="button">
            <span class="text">Перейти</span>
        </a>
    </div>
    <div class="informations-section">
        <div class="informations-section-text">
            <span><strong>Советы по выбору и установке теплых полов</strong>
                <p>Теплые полы — это отличный способ обеспечить равномерное отопление 
                    и комфорт в вашем доме. В этой статье мы предложим советы по выбору 
                    между водяными и электрическими системами теплых полов, их 
                    преимуществам и недостаткам. Также будут описаны ключевые моменты 
                    установки, которые помогут вам получить максимальную эффективность 
                    от вашей системы. Эти советы помогут вам сделать осознанный выбор и 
                    правильно установить теплые полы для создания уютной атмосферы.</p>
            </span>
        </div>
        <a href="/informations/tips_for_choosing_and_installing_heated_floors" class="button">
            <span class="text">Перейти</span>
        </a>
    </div>
</div>
{% endblock %}