html {
    margin: 0;
    padding: 0px;
    a {
        text-decoration: none !important;
    }
}
header {
    margin: 0;
    width: 100%;
    height: 150px;
    position: fixed;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0 10px 0px rgba(56, 45, 44, 0.2);
    /* border-radius: 12px; */
    z-index: 1;
    top: 0;
    transition: 0.5s;
    
    .block {
        position: relative;
        align-items: center;
        z-index: 1;
        flex-direction: row;
        display: flex;
        width: calc(100% - (50% - 1113.71px/2 - 0.15px) * 2);
        /* width: 60%; */
        height: 63.54px;
        margin-left: auto;
        margin-right: auto;
        top: 49px; 
    }
    .logo {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 238px;
        height: 63.54px;
        transition: transform 0.3s;
    }
    .logo:hover {
        transform: scale(1.1);
    }
    .vkladki {
        white-space: nowrap;
        display: flex;
        position: absolute;
        width: 696.71px;
        height: 20.7px;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
    }
    .vkladki-text {
        font-family: Montserrat;
        font-size: 15.93px;
        font-weight: 400;
        line-height: 19.41px;
        text-align: left;
        color: rgba(29, 29, 27, 1);
    }
    .arrows svg path {
        fill: rgba(29, 29, 27, 1);
    }
    .arrow-1, .arrow-2 {
        width: 19.11px;
        height: 19.11px;
        transition: transform 0.5s ease;
        margin-top: auto;
        margin-bottom: auto;
    }
    .flipped {
        transform: rotate(180deg);
    }
    .vkladki-text:hover, .item:hover {
        .vkladki-text {
            color: rgba(122, 122, 122, 1);
        }    
        .arrows svg path {
            fill: rgba(122, 122, 122, 1);
        }
    }
    .item {
        display: flex;
        float: left;
        height: 20.7px;
        cursor: pointer;
    }
    .services-tab-box {
        cursor: auto;
        /* display: none; */
        display: flex;
        pointer-events: none;
        position: absolute;
        width: 317px;
        height: 344px;
        top: 20px;
        left: calc(50% - 755px/2 - 0.15px);
        background: rgba(255, 255, 255);
        border-radius: 0px 0px 12px 12px;
        box-shadow: 0px 160px 129.12px 0px rgba(56, 45, 44, 0.1);
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content:space-between;
        width: 261.63px;
        height: 272px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .services-tab a {
        font-family: Montserrat;
        font-size: 15.93px;
        font-weight: 400;
        line-height: 19.41px;
        text-align: left;
        color: rgba(29, 29, 27, 1);
    }
    .services-tab a:hover {
        color: rgba(122, 122, 122, 1);
    }
    @media (max-width: 1150px) {
        .block {
            width: 670px;
        }
        .logo {
            width: 140px;
            height: 40,05px;
        }
        .logo-picture {
            width: 35px;
            height: 43.92px;
        }
        .logo-text {
            width: 100px;
            height: 13.63px;
        }
        .vkladki {
            width: 500px;
        }
        .vkladki-text {
            font-size: 12px;
            line-height: 19.41px;
        }
        .services-tab-box {
            left: calc(50% - 550px/2 - 0.15px);
            width: 250px;
            height: 271.29px;
        }
        .services-tab {
            width: 200px;
            height: 207.93px;
            a {
                font-size: 12px;
                line-height: 19.41px;
            }
        }
    }
    .services-tab .item .vkladki-text, .services-tab .vkladki-text, .services-tab .vkladki-text:visited {
        color: rgb(29, 29, 27);
    }
    .services-tab .item .arrows svg path {
        fill: rgb(29, 29, 27);
    }
    .services-tab .item {
        width: 100%;
    }
    .services-tab .item .arrows {
        position: absolute;     
        right: 40px;
    }
    @media (max-width: 1150px) {
        .services-tab .item .arrows {    
            right: 30px;
            width: 6px;
            height: 10.5px;
        }
        .services-tab .item .arrows svg {    
            width: 6px;
            height: 10.5px;
        }
    }
    .item-1:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    .item-1:hover .services-tab-box .services-tab .item .vkladki-text:hover, .services-tab-box .services-tab .vkladki-text:hover {
        color: rgba(122, 122, 122, 1);
    }    
    .item-1:hover .services-tab-box .services-tab .item:hover {
        .arrows svg path {
            fill: rgba(122, 122, 122, 1);
        }
        span {
            color: rgba(122, 122, 122, 1);
        }
    }
    .services-tab .item-3 .services-tab-box {
        /* display: none; */
        display: flex;
        pointer-events: none;
        width: 364px;
        height: 426px;
        left: auto;
        right: calc(50% - 950px/2 - 0.15px);
        top: -37px;
        filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
        background: rgb(255, 255, 255);
        border-radius: 12px;
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab .item-3 .services-tab-box .services-tab {
        width: 303.2px;
        height: 356px;
    }
    .item-3:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .services-tab .item-3 .services-tab-box {
            left: auto;
            right: calc(50% - 730px/2 - 0.15px);
            width: 290px;
            height: 339.4px;
        }
        .services-tab .item-3 .services-tab-box .services-tab {
            width: 230px;
            height: 270.05px;
        }
    }
    .services-tab .item-4 .services-tab-box {
        /* display: none; */
        display: flex;
        pointer-events: none;
        width: 307px;
        height: 255px;
        left: auto;
        top: 40px;
        right: calc(50% - 837px/2 - 0.15px);
        filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
        background: rgb(255, 255, 255);
        border-radius: 12px;
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab .item-4 .services-tab-box .services-tab {
        width: 246.4px;
        height: 186px;
    }
    .item-4:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .services-tab .item-4 .services-tab-box {
            top: 27px;
            left: auto;
            right: calc(50% - 650px/2 - 0.15px);
            width: 250px;
            height: 207.65px;
        }
        .services-tab .item-4 .services-tab-box .services-tab {
            width: 200px;
            height: 150.97px;
        }
    }
    .services-tab .item-5 .services-tab-box {
        /* display: none; */
        display: flex;
        pointer-events: none;
        width: 313.6px;
        height: 131.2px;
        left: auto;
        top: 90px;
        right: calc(50% - 850px/2 - 0.15px);
        filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
        background: rgb(255, 255, 255);
        border-radius: 12px;
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab .item-5 .services-tab-box .services-tab {
        width: 252.8px;
        height: 61.6px;
    }
    .item-5:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .services-tab .item-5 .services-tab-box {
            top: 70px;
            left: auto;
            right: calc(50% - 630px/2 - 0.15px);
            width: 240px;
            height: 100.41px;
        }
        .services-tab .item-5 .services-tab-box .services-tab {
            width: 200px;
            height: 48.73px;
        }
    }
    .services-tab .item-6 .services-tab-box {
        /* display: none; */
        display: flex;
        pointer-events: none;
        width: 335px;
        height: 110px;
        left: auto;
        top: 120px;
        right: calc(50% - 893px/2 - 0.15px);
        filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
        background: rgb(255, 255, 255);
        border-radius: 12px;
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab .item-6 .services-tab-box .services-tab {
        width: 274.4px;
        height: 40px;
    }
    .item-6:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .services-tab .item-6 .services-tab-box {
            left: auto;
            top: 98px;
            right: calc(50% - 630px/2 - 0.15px);
            width: 240px;
            height: 80px;
        }
        .services-tab .item-6 .services-tab-box .services-tab {
            width: 190px;
        }
    }
    .services-tab .item-7 .services-tab-box {
        /* display: none; */
        pointer-events: none;
        width: 368.8px;
        height: 89.6px;
        left: auto;
        top: 215px;
        right: calc(50% - 960px/2 - 0.15px);
        filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
        background: rgb(255, 255, 255);
        border-radius: 12px;
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab .item-7 .services-tab-box .services-tab {
        width: 308px;
        height: 20px;
    }
    .item-7:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .services-tab .item-7 .services-tab-box {
            left: auto;
            top: 165px;
            right: calc(50% - 710px/2 - 0.15px);
            width: 280px;
            height: 68.03px;
        }
        .services-tab .item-7 .services-tab-box .services-tab {
            width: 210px;
        }
    }
    .item-2 .services-tab-box {
        width: 384px;
        height: 164px;
        left: auto;
        right: calc(50% - 675px/2 - 0.15px);
        pointer-events: none;
        transition: 0.5s;
        opacity: 0;
    }
    .item-2 .services-tab-box .services-tab {
        width: 323.2px;
        height: 103.2px;
    }
    @media (max-width: 1150px) {
        .item-2 .services-tab-box {
            left: auto;
            right: calc(50% - 520px/2 - 0.15px);
            width: 300px;
            height: 128.13px;
        }
        .item-2 .services-tab-box .services-tab {
            width: 250px;
            height: 79.83px;
        }
    }
    .item-2:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .arrows {
            width: 15px;
            height: 15px;
        }
        .arrows svg {
            width: 15px;
            height: 15px;
        }
    }
    .mobile-block {
        display: none;
    }
    @media (max-width: 930px) {
        header {
            height: 100px;
        }
        .block {
            display: none;
        }
        .mobile-block {
            position: relative;
            display: grid;
            align-items: center;
        }
        .menu {
            position: absolute;
            margin-left: 25px;
        }
        .menu path {
            transition: 0.3s;
        }
        .menu:hover {
            cursor: pointer;
            path {
                fill: rgba(122, 122, 122, 1);
            }
        }
        .logo {
            width: 97.39px;
            height: 26px;
            display: flex;
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }
        .call {
            position: absolute;
            right: 0;
            margin-right: 25px;
        }
        .call path {
            transition: 0.3s;
        }
        .call:hover {
            cursor: pointer;
            path {
                fill: rgba(122, 122, 122, 1);
            }
        }
        .panel {
            width: 100%;
            height: calc(100% - 68px);
            /* height: 82.5%; */
            position: fixed;
            left: -100%;
            top: 68px;
            transition: 0.3s;
            background-color: rgb(255, 255, 255);
            overflow-y: scroll;
        }
        .panel.open {
            left: 0;
        }
        .panel-1, .panel-2, .panel-3, .panel-4, .panel-5, .panel-6, .panel-7 {
            height: 0;
            transition: height 0.5s ease;
            overflow: hidden;
        }
        .panel-1.open, .panel-2.open, .panel-3.open, .panel-4.open, .panel-5.open, .panel-6.open, .panel-7.open {
            height: max-content;
        }
        .level-1 {
            display: flex;
            width: max-content;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgb(29, 29, 27);
            margin-left: 25px;
            margin-top: 25px;
            align-items: center;
            cursor: pointer;
        }
        .level-1.open, .level-2.open {
            color: rgba(122, 122, 122, 1);
            .arrow path {
                fill: rgba(122, 122, 122, 1);
            }
            .arrow {
                transform: rotate(180deg);
            }
        }
        .level-2, .level-3 {
            display: flex;
            width: max-content;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: rgb(29, 29, 27);
            margin-left: 40px;
            margin-top: 25px;
            align-items: center;
            cursor: pointer;
        }
        .level-3 {
            margin-left: 54px;
        }
        .level-1 .arrow, .level-2 .arrow {
            align-self: center;
            transition: transform 0.5s ease;       
        }
        .level-1:hover, .level-2:hover, .level-3:hover {
            color: rgba(122, 122, 122, 1);
            .arrow path {
                fill: rgba(122, 122, 122, 1);
            }
        }
    }
}
@media (max-width: 930px) {
    header {
        height: 68px;
        transition: 0.5s;
    }
}
footer {
    margin: 0;
    .footer-block {
        position: relative;
        top: 200px;
        width: 100%;
        height: 529px;
        background: rgb(29, 29, 27);
    }
    .footer-block-mobile {
        position: relative;
        display: none;
        top: 200px;
        width: 100%;
        height: 175px;
        background: rgb(29, 29, 27);
    }
    .main-text:hover, .uslugi-text:hover {
        color: rgba(122, 122, 122, 1);
    }
    .question {
        position: relative;
        width: 220px;
        height: 157.6px;
        left: calc(50% - 1113.71px/2 - 0.15px);
        top: 60px;
    }

    .main-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: rgb(255, 255, 255);
    }
    .question-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 13.6px;
        line-height: 17px;
        color: rgb(255, 255, 255);
        vertical-align: middle;
    }
    .contacts {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 210px;
        height: 110px;
        bottom: 0;
    }
    .contacts svg {
        width: 16px;
        height: 16px;
        margin-right: 7px;
        vertical-align: middle;
    }
    .uslugi {
        position: relative;
        display: flex;
        width: 871.6px;
        height: 324.4px;
        top: -97px;
        left: calc(50% - 550px/2 - 0.15px);
    }
    .uslugi-2 {
        position: absolute;
        display: flex;
        right: 0;
        width: 577.2px;
        height: 289px;
    }
    .poduslugi-1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 274.4px;
        height: 175px;
    }
    .poduslugi-2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 115px;
        height: 138.4px;
        bottom: 0;
    }
    .poduslugi-3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 303.4px;
        height: 290.35px;
    }
    .poduslugi-4 {
        display: flex;   
        width: 253.8px;
        height: 269.91px;
    }
    .poduslugi-5 {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 246.4px;
        height: 179.95px;
    }
    .poduslugi-6 {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 252.8px;
        height: 79px;
        bottom: 0;
    }
    .uslugi-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgb(255, 255, 255);
    }
    @media (max-width: 1220px) {
        .main-text {
            font-size: 12px;
        }
        .question-text {
            font-size: 10px;
        }
        .uslugi-text {
            font-size: 12px;
        }
        .question {
            left: calc(50% - 900px / 2 - 0.15px);
            top: 70px;
            width: 165px;
            height: 118.2px;
        }
        .contacts {
            height: 77px;
        }
        .poduslugi-6 {
            width: 200px;
            height: 62.5px;
        }
        .poduslugi-5 {
            width: 200px;
            height: 146.06px;
        }
        .poduslugi-4 {
            width: 200px;
            height: 212.7px;
        }
        .poduslugi-3 {
            width: 230px;
            height: 220.11px;
        }
        .uslugi-2 {
            width: 430px;
            height: 220px;
        }
        .poduslugi-2 {
            width: 90px;
            height: 108.31px;
        }
        .poduslugi-1 {
            width: 220px;
            height: 140.31px;
        }
        .uslugi {
            top: -47px;
            left: calc(50% - 450px / 2 - 0.15px);
            width: 660px;
            height: 256px;
        }
    }
    .prava {
        position: relative;
        text-align: center;
    }
    @media (max-width: 930px) {
        .footer-block {
            display: none;
        }
        .footer-block-mobile {
            display: block;
            top: 100px
        }
        .podblock-mobile {
            position: relative;
            display: grid;
            width: 209px;
            height: 84px;
            margin-left: auto;
            margin-right: auto;
            top: 25px;
        }
        .main-text {
            width: 109px;
            height: 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 8px;
            line-height: 10px;
            color: rgb(255, 255, 255);           
        }
        .question-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 10px;
            color: rgb(255, 255, 255);
            vertical-align: middle;
        }
        .contacts {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            width: 122px;
            height: 54px;
        }
        .contacts svg {
            width: 8px;
            height: 8px;
            margin-right: 7px;
            vertical-align: middle;
        }
        .prava {
            margin-top: 70px;
        }
        .prava-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 10px;
            color: rgb(255, 255, 255);
        }
    }
}