header {
    .block {
        position: relative;
        width: 1113.71px;
        height: 29.46px;
        left: calc(50% - 1113.71px/2 - 0.15px);
        top: 70px; 
    }
    @media (max-width: 1150px) {
        .block {
            width: 800px;
            left: calc(50% - 800px/2 - 0.15px);
        }
    }
    .logo {
        position: absolute;
        width: 129.79px;
        height: 29.46px;
    }
    .vkladki {
        position: absolute;
        height: 20.7px;
        right: 0;
        margin-top: 6px;
        display: inline-block;
    }
    .vkladki-text {
        font-family: Montserrat;
        font-size: 15.93px;
        font-weight: 400;
        line-height: 19.41px;
        text-align: left;
        color: rgba(29, 29, 27, 1);
    }
    a {
        text-decoration: none !important;
    }
    .arrows svg path {
        fill: rgba(29, 29, 27, 1);
    }
    .arrow-1, .arrow-2 {
        transition: transform 0.5s ease;
    }
    .flipped {
        transform: rotate(180deg);
    }
    a:hover, .item:hover {
        .vkladki-text {
            color: rgba(122, 122, 122, 1);
        }
        .arrows svg path {
            fill: rgba(122, 122, 122, 1);
        }
    }
    .item {
        display: flex;
        float: left;
        margin-right: 50px;
        height: 20.7px;
        cursor: pointer;
    }
    .services-tab-box {
        display: none;
        position: fixed;
        width: 317px;
        height: 344px;
        margin-top: 10px;
        left: calc(50% - 210px/2 - 0.15px);
        background: rgba(255, 255, 255, 0,1);
        border-radius: 0px 0px 12px 12px;
        box-shadow: 0px 160px 129.12px 0px rgba(56, 45, 44, 0.1);
    }
    @media (max-width: 1150px) {
        .services-tab-box {
            left: calc(50% - 520px/2 - 0.15px);
        }
    }
    .services-tab {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        width: 261.63px;
        height: 272px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .services-tab .item .vkladki-text, .services-tab .vkladki-text, .services-tab .vkladki-text:visited {
        color: rgb(29, 29, 27);
    }
    .services-tab .item .arrows svg path {
        fill: rgb(29, 29, 27);
    }
    .services-tab .item {
        width: 100%;
    }
    .services-tab .item .arrows {
        position: absolute;
        cursor: auto;
        right: 0;
    }
    .item-1:hover {
        .services-tab-box {
            display: flex;
        }
        a:hover, .item:hover {
            .vkladki-text {
                color: rgba(122, 122, 122, 1);
            }
            .arrows svg path {
                fill: rgba(122, 122, 122, 1);
            }
        }
    }
}