html {
    margin: 0px;
    padding: 0px;
    a {
        text-decoration: none !important;
    }
}
header {
    width: auto;
    height: 240px;
    .block {
        position: relative;
        align-items: center;
        flex-direction: row;
        display: flex;
        width: calc(100% - (50% - 1113.71px/2 - 0.15px) * 2);
        height: 63.54px;
        left: calc(50% - 1113.71px/2 - 0.15px);
        top: 49px; 
    }
    @media (max-width: 1150px) {
        .block {
            width: 950px;
            left: calc(50% - 950px/2 - 0.15px);
        }
    }
    .logo {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 238px;
        height: 63.54px;
    }
    .vkladki {
        white-space: nowrap;
        display: flex;
        position: absolute;
        width: 696.71px;
        height: 20.7px;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
    }
    .vkladki-text {
        font-family: Montserrat;
        font-size: 15.93px;
        font-weight: 400;
        line-height: 19.41px;
        text-align: left;
        color: rgba(29, 29, 27, 1);
    }
    .arrows svg path {
        fill: rgba(29, 29, 27, 1);
    }
    .arrow-1, .arrow-2 {
        transition: transform 0.5s ease;
    }
    .flipped {
        transform: rotate(180deg);
    }
    a:hover, .item:hover {
        .vkladki-text {
            color: rgba(122, 122, 122, 1);
        }
        .arrows svg path {
            fill: rgba(122, 122, 122, 1);
        }
    }
    .item {
        display: flex;
        float: left;
        height: 20.7px;
        cursor: pointer;
    }
    .services-tab-box {
        cursor: auto;
        /* display: none; */
        display: flex;
        pointer-events: none;
        z-index: 1;
        position: absolute;
        width: 317px;
        height: 344px;
        top: 20px;
        left: calc(50% - 755px/2 - 0.15px);
        background: rgba(255, 255, 255);
        border-radius: 0px 0px 12px 12px;
        box-shadow: 0px 160px 129.12px 0px rgba(56, 45, 44, 0.1);
        transition: 0.5s;
        opacity: 0;
    }
    @media (max-width: 1150px) {
        .services-tab-box {
            left: calc(50% - 520px/2 - 0.15px);
        }
    }
    .services-tab {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content:space-between;
        width: 261.63px;
        height: 272px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .services-tab .item .vkladki-text, .services-tab .vkladki-text, .services-tab .vkladki-text:visited {
        color: rgb(29, 29, 27);
    }
    .services-tab .item .arrows svg path {
        fill: rgb(29, 29, 27);
    }
    .services-tab .item {
        width: 100%;
    }
    .services-tab .item .arrows {
        position: absolute;     
        right: 40px;
    }
    .item-1:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    .item-1:hover .services-tab-box .services-tab .item .vkladki-text:hover, .services-tab-box .services-tab .vkladki-text:hover {
        color: rgba(122, 122, 122, 1);
    }    
    .item-1:hover .services-tab-box .services-tab .item:hover {
        .arrows svg path {
            fill: rgba(122, 122, 122, 1);
        }
    }
    .services-tab .item-3 .services-tab-box {
        /* display: none; */
        display: flex;
        pointer-events: none;
        width: 364px;
        height: 426px;
        left: auto;
        right: calc(50% - 950px/2 - 0.15px);
        top: -37px;
        filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
        background: rgb(255, 255, 255);
        border-radius: 12px;
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab .item-3 .services-tab-box .services-tab {
        width: 303.2px;
        height: 356px;
    }
    .item-3:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .services-tab .item-3 .services-tab-box {
            left: auto;
            right: calc(50% - 730px/2 - 0.15px);
        }
    }
    .services-tab .item-4 .services-tab-box {
        /* display: none; */
        display: flex;
        pointer-events: none;
        width: 307px;
        height: 255px;
        left: auto;
        top: 40px;
        right: calc(50% - 837px/2 - 0.15px);
        filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
        background: rgb(255, 255, 255);
        border-radius: 12px;
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab .item-4 .services-tab-box .services-tab {
        width: 246.4px;
        height: 186px;
    }
    .item-4:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .services-tab .item-4 .services-tab-box {
            left: auto;
            right: calc(50% - 615px/2 - 0.15px);
        }
    }
    .services-tab .item-5 .services-tab-box {
        /* display: none; */
        display: flex;
        pointer-events: none;
        width: 313.6px;
        height: 131.2px;
        left: auto;
        top: 90px;
        right: calc(50% - 850px/2 - 0.15px);
        filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
        background: rgb(255, 255, 255);
        border-radius: 12px;
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab .item-5 .services-tab-box .services-tab {
        width: 252.8px;
        height: 61.6px;
    }
    .item-5:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .services-tab .item-5 .services-tab-box {
            left: auto;
            right: calc(50% - 630px/2 - 0.15px);
        }
    }
    .services-tab .item-6 .services-tab-box {
        /* display: none; */
        display: flex;
        pointer-events: none;
        width: 335px;
        height: 110px;
        left: auto;
        top: 120px;
        right: calc(50% - 893px/2 - 0.15px);
        filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
        background: rgb(255, 255, 255);
        border-radius: 12px;
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab .item-6 .services-tab-box .services-tab {
        width: 274.4px;
        height: 40px;
    }
    .item-6:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .services-tab .item-6 .services-tab-box {
            left: auto;
            right: calc(50% - 670px/2 - 0.15px);
        }
    }
    .services-tab .item-7 .services-tab-box {
        /* display: none; */
        pointer-events: none;
        width: 368.8px;
        height: 89.6px;
        left: auto;
        top: 215px;
        right: calc(50% - 960px/2 - 0.15px);
        filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
        background: rgb(255, 255, 255);
        border-radius: 12px;
        transition: 0.5s;
        opacity: 0;
    }
    .services-tab .item-7 .services-tab-box .services-tab {
        width: 308px;
        height: 20px;
    }
    .item-7:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
    @media (max-width: 1150px) {
        .services-tab .item-7 .services-tab-box {
            left: auto;
            right: calc(50% - 670px/2 - 0.15px);
        }
    }
    .item-2 .services-tab-box {
        width: 384px;
        height: 164px;
        left: auto;
        right: calc(50% - 675px/2 - 0.15px);
        pointer-events: none;
        transition: 0.5s;
        opacity: 0;
    }
    @media (max-width: 1150px) {
        .item-2 .services-tab-box {
            left: auto;
            right: calc(50% - 855px/2 - 0.15px);
        }
    }
    .item-2 .services-tab-box .services-tab {
        width: 323.2px;
        height: 103.2px;
    }
    .item-2:hover .services-tab-box {
        /* display: flex; */
        pointer-events: all;
        opacity: 1;
    }
}
footer {
    .block {
        position: relative;
        top: 300px;
        width: 100%;
        height: 529px;
        background: rgb(29, 29, 27);
    }
    .main-text:hover, .uslugi-text:hover {
        color: rgba(122, 122, 122, 1);
    }
    .question {
        position: relative;
        width: 220px;
        height: 157.6px;
        left: calc(50% - 1113.71px/2 - 0.15px);
        top: 60px;
    }
    @media (max-width: 1150px) {
        .block {
            left: calc(50% - 800px/2 - 0.15px);
        }
    }
    .main-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: rgb(255, 255, 255);
    }
    .question-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 13.6px;
        line-height: 17px;
        color: rgb(255, 255, 255);
        vertical-align: middle;
    }
    .contacts {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 210px;
        height: 110px;
        bottom: 0;
    }
    .contacts svg {
        width: 16px;
        height: 16px;
        margin-right: 7px;
        vertical-align: middle;
    }
    .uslugi {
        position: relative;
        display: flex;
        width: 871.6px;
        height: 324.4px;
        top: -97px;
        left: calc(50% - 550px/2 - 0.15px);
    }
    .uslugi-2 {
        position: absolute;
        display: flex;
        right: 0;
        width: 577.2px;
        height: 289px;
    }
    .poduslugi-1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 274.4px;
        height: 175px;
    }
    .poduslugi-2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 115px;
        height: 138.4px;
        bottom: 0;
    }
    .poduslugi-3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 303.4px;
        height: 290.35px;
    }
    .poduslugi-4 {
        display: flex;   
        width: 253.8px;
        height: 269.91px;
    }
    .poduslugi-5 {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 246.4px;
        height: 179.95px;
    }
    .poduslugi-6 {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 252.8px;
        height: 79px;
        bottom: 0;
    }
    .uslugi-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgb(255, 255, 255);
    }
    .prava {
        position: relative;
        text-align: center;
    }
}
body {
    .main-block {
        position: relative;
        width: 1119.2px;
        height: 592px;
        margin-left: calc(50% - 1119.2px/2 - 0.4px);
        .lutchie {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 52px;
            line-height: 63px;
            text-transform: uppercase;
            color: rgb(232, 67, 50);
        }
        .lutchie span {
            color: rgb(0, 0, 0);
        }
        .lutchie-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: rgb(29, 29, 27);
        }
        .buttons {
            display: flex;
            width: 479.4px;
            height: 58.4px;
            margin-top: 60.8px;
            flex-direction: row;
            justify-content: space-between;
        }
        .button-1 {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 18px 25px;
            gap: 10px;
            width: 276px;
            height: 57px;
            background: rgb(232, 67, 50);
            border-radius: 112px;
            transition: 0.3s;
        }
        .button-1:hover {
            border: 1.6px solid rgb(232, 67, 50);
            background: rgb(255, 255, 255);
            cursor: pointer;
        }
        .button-1 .text {
            width: 226px;
            height: 21px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 17.6px;
            line-height: 21px;
            color: rgb(255, 255, 255);
            flex: none;
            order: 0;
            flex-grow: 0;
            transition: 0.3s;
        }
        .button-1:hover .text {
            color: rgb(232, 67, 50);
        }
        .button-2 {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 18px 25px;
            gap: 10px;
            width: 171px;
            height: 57px;
            border: 1.6px solid rgb(232, 67, 50);
            border-radius: 112px;
            transition: 0.3s;
        }
        .button-2:hover {
            border: 0;
            background: rgb(232, 67, 50);
            cursor: pointer;
        }
        .button-2 .text {
            width: 121px;
            height: 21px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 17.6px;
            line-height: 21px;
            color: #E84332;
            flex: none;
            order: 0;
            flex-grow: 0;
            transition: 0.3s;
        }
        .button-2:hover .text {
            color: rgb(255, 255, 255);
        }
        .image-block {
            position: absolute;
            display: flex;
            bottom: 0;
            right: 0;
            width: 572px;
            height: 468.8px;
            filter: drop-shadow(0px 0px 129.12px rgba(56, 45, 44, 0.1));
            .circle {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    .arrow {
        display: flex;
        margin-top: 63px;
        margin-left: auto;
        margin-right: auto;
    }
}
